
.header__background-video {
    max-width: 100%;
}

.header__background-video video {
    width: 100%;
}

.main-header {
    width: 1200px;
    height: 70px;
    border-bottom: 2px solid var(--White);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    transition: all 1s ease;
    z-index: 3;
    background-color: #000000b2;
}

.main-header .header-logo {
    font-size: 30px;
    font-weight: 700;
    font-family: var(--MainFont);
    color: var(--White);
    padding: 0 20px;
}

.main-header .header-logo span {
    color: var(--Blue);
}

.main-header nav {
    display: flex;
    gap: 35px;
}

.main-header .nav-item {
    font-size: 14px;
    font-family: var(--MainFont);
    color: var(--White);
    text-shadow: -1px 1px 3px aqua;
    transition: all .7s ease;
}

.main-header .nav-item:hover {
    transform: scale(1.2);
}

.main-header .register .signup {
    background-color: var(--White);
    color: var(--DarkBlue);
    padding: 10px 20px;
    border-radius: 20px;
    transition: all .7s;
}
.main-header .register .signup:hover {
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(12,12,174,1) 50%, rgba(0,212,255,1) 100%);
    color: var(--White);
}

.main-header .register {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0 20px;
}



/* Homepage section style */
.homepage {
    position: relative;
}

.homepage .homepage-title {
    color: var(--White);
    width: 500px;
    text-align: center;
    font-size: 60px;
    position: absolute;
    top: -700px;
    left: 50%;
    transform: translateX(-50%);
}

.homepage .homepage-subtitle {
    color: var(--White);
    text-align: center;
    font-style: var(--SecondFont);
    font-weight: 400;
    letter-spacing: 1px;
    line-height:28px;
    color: aqua;
    text-shadow: -1px 1px 4px rgb(255, 255, 255);
    position: absolute;
    top: -400px;
    left: 50%;
    transform: translateX(-50%);
}

.homepage .signup-btn {
    position: absolute;
    top: -250px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--White);
    border-radius: 30px;
    padding: 14px 30px;
    color: var(--DarkBlue);
    font-size: 18px;
    font-family: var(--MainFont);
    font-weight: 500;
    transition: all .7s ease;
}

.homepage .signup-btn:hover {
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(12,12,174,1) 50%, rgba(0,212,255,1) 100%);
    color: var(--White);
}

